node_modules/
**/node_modules/
**/dist/
.env
backend/.env
frontend/.env
.vscode/
.DS_Store
npm-debug.log*
backend/uploads/*
!backend/uploads/.gitkeep

backend/data/*
!backend/data/.gitkeep

**/.env.local
**/.env.production.local
